@if (post(); as post) {
  <tt-avatar-circle [avatarData]="post.author"/>

  <tt-dropdown
    class="tt-post__settings-dropdown"
    [class.tt-post__settings-dropdown--open]="isOpenSettings()"
    [dropdownList]="dropdownPostList"
    [isOpen]="isOpenSettings()"
  />

  <div class="tt-post__body">
    <div class="tt-post__post-block">

      <ul class="tt-post__profile-section">
        <li class="tt-post__profile-info">
          <h2 class="tt-post__username">{{ post.author.firstName }} {{ post.author.lastName }}</h2>
          <span class="tt-post__created-at">{{ post.createdAt | date: 'hh:mm dd.MM.yyyy' }}</span>
        </li>

        <li class="tt-post__content">
          <ngx-emoji
            [emoji]="post.title"
            set="apple"
            [isNative]="false"
            [size]="20"
          ></ngx-emoji>
          {{ post.content }}

          <ul class="tt-post__post-images-list">
            @for (image of post.images; track image) {
              <li class="tt-post__post-images-item">
                <img class="tt-post__post-image" [src]="image | imgUrl " alt="Post Image">
                <tt-button class="tt-post__delete-image-btn"
                           type="button"
                           icon="cross-close"
                           mode="black"
                           (click)="deletePostImage(image)"/>
              </li>
            }
          </ul>

        </li>

        <li class="tt-post__reactions">
          <div class="tt-post__reactions-btn-wrapper">
            <tt-button class="tt-post__reactions-btn" icon="comment" mode="black"/>
            <span class="tt-post__reactions-counter tt-post__reactions-counter--comment">
            {{ post.comments?.length }}
          </span>
          </div>
          <div class="tt-post__reactions-btn-wrapper"
               [class.tt-post__reactions-btn-wrapper--my-reactions]="isMyLike()">
            <tt-button class="tt-post__reactions-btn tt-post__reactions-btn--like"
                       mode="black"
                       [icon]="likeIcon()"
                       (click)="toggleLike()"/>
            <span class="tt-post__reactions-counter tt-post__reactions-counter--like">{{ post.likes }}</span>
          </div>
        </li>
      </ul>

      @if (isMyPostSettings()) {
        <tt-button class="tt-post__settings-btn"
                   icon="dots"
                   mode="black"
                   (click)="isOpenSettings.set(!isOpenSettings())"
                   (ttClickOutside)="isOpenSettings.set(false)"/>
      }

    </div>

    <div class="tt-post__comment-block">
      @for (comment of post.comments; track comment.id) {
        <tt-comment [comment]="comment"/>
      }
      @if (me(); as me) {
        <tt-text-input
          [avatarData]="me"
          placeholder="Напишите комментарий"
          mode="comment"
          (submitted)="onCreateComment($event)"
        />
      }
    </div>

  </div>

}
