@use "mixins" as mixin;

:host {
  @include mixin.dark-facade;
  display: grid;
  grid-template-columns: 32px minmax(min-content, 1fr);
  grid-gap: 16px;
  padding: 20px;
  position: relative;
  width: 100%;
  min-width: min-content;
}

.tt-post {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__post-block {
    display: flex;
    justify-content: space-between;
    gap: 8px;

  }

  &__profile-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-wrap: anywhere;
  }

  &__profile-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__username {
    font-size: 14px;
    line-height: 21px;
  }

  &__created-at {
    @include mixin.label-text;
    color: var(--light-transparent);
  }

  &__post-content {
  }

  &__post-images-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin: 20px 0;
    position: relative;
  }

  &__post-images-item {
    width: 100%;

    &:hover {
      .tt-post__delete-image-btn {
        display: flex;
      }
    }
  }

  &__post-image {
    width: inherit;
  }

  &__delete-image-btn {
    background-color: transparent;
    border-color: var(--error-color);
    border-radius: 50%;
    color: var(--error-color);
    display: none;
    position: absolute;
    right: -25px;
    top: -25px;
    width: 44px;
  }

  &__settings-btn {
    width: 44px;
    border-color: transparent;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__settings-dropdown {
    display: none;
    position: absolute;
    top: 55px;
    right: 5px;
    z-index: 10;

    &--open {
      display: block;
    }
  }


  &__reactions {
    display: flex;
    gap: 20px;
  }

  &__reactions-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;

    &--my-reactions {
      color: var(--primary-color);
    }
  }

  &__reactions-btn {
    border: none;
    color: inherit;
    padding: 0;
    width: 16px;
    height: 16px;

    &--like {

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__reactions-counter {
    line-height: 16px;

    &--comment {
      color: var(--primary-color);
    }

    &--like {
    }
  }

  &__comment-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0;
  }
}
