@if (post(); as post) {
  <tt-avatar-circle [avatarData]="post.author"/>

  <tt-dropdown
    class="tt-post__settings-dropdown"
    [class.tt-post__settings-dropdown--open]="isOpenSettings()"
    [dropdownList]="dropdownPostList"
    [isOpen]="isOpenSettings()"
  />

  <div class="tt-post__body">
    <div class="tt-post__post-block">

      <ul class="tt-post__profile-section">
        <li class="tt-post__profile-info">
          <h2 class="tt-post__username">{{ post.author.firstName }} {{ post.author.lastName }}</h2>
          <span class="tt-post__created-at">{{ post.createdAt | date: 'hh:mm dd.MM.yyyy' }}</span>
        </li>

        <li class="tt-post__content">{{ post.content }}</li>

        <li class="tt-post__reactions">
          <div class="tt-post__reactions-btn-wrapper">
            <tt-button class="tt-post__reactions-btn" icon="comment" mode="black"/>
            <span class="tt-post__reactions-counter tt-post__reactions-counter--comment">
            {{ post.comments?.length }}
          </span>
          </div>
          <div class="tt-post__reactions-btn-wrapper"
               [class.tt-post__reactions-btn-wrapper--my-reactions]="isMyLike()">
            <tt-button class="tt-post__reactions-btn tt-post__reactions-btn--like"
                       mode="black"
                       [icon]="likeIcon()"
                       (click)="toggleLike()"/>
            <span class="tt-post__reactions-counter tt-post__reactions-counter--like">{{ post.likes }}</span>
          </div>
        </li>
      </ul>
      <tt-button class="tt-post__settings-btn" icon="dots" mode="black"
                 (click)="isOpenSettings.set(!isOpenSettings())"/>

    </div>

    <div class="tt-post__comment-block">
      @for (comment of post.comments; track comment.id) {
        <tt-comment [comment]="comment"/>
      }
      <tt-text-input
        [avatarData]="post.author"
        placeholder="Напишите комментарий"
        mode="comment"
        (textSubmitted)="createText($event)"
      />
    </div>

  </div>

}
