:host {
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;
  border-bottom: var(--light-border);
  padding: 17px 20px;
  position: relative;
}

.tt-chat-workspace-header {
  &__dropdown {
    position: absolute;
    right: 15px;
    top: 70px;
    z-index: 5;
  }

  &__user-info {
    display: flex;
    justify-self: center;
    gap: 12px;
  }

  &__close-chat {
    transform: rotate(180deg);
  }

  &__settings {
    transform: rotate(90deg);
  }

  &__close-chat:hover,
  &__settings:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
