@if (profile(); as profile) {
  <div class="tt-profile-card__user-block">

    <tt-avatar-circle [avatarData]="profile" size="71"/>

    <div class="tt-profile-card__user-info">
      <p class="tt-profile-card__user-name">{{ profile.firstName }} {{ profile.lastName }}</p>
      <span class="tt-profile-card__user-login">{{ profile.username }}</span>
    </div>
  </div>

  <div class="tt-profile-card__description">{{ profile.description }}</div>

  <ul class="tags-list">
    @for (stack of profile.stack; track stack) {
      <li class="tags-list__item">{{ stack }}</li>
    }
  </ul>

  <div class="tt-profile-card__button-wrapper">
    @if (isSubscriptionProfile()) {
      <tt-button class="tt-profile-card__subscriber-icon" mode="black" icon="subscriber"
                 (click)="unsubscribe()"></tt-button>
    }
    <tt-button [icon]="getSubscriptionAction().icon"
               (click)="getSubscriptionAction().action()">
      {{ getSubscriptionAction().description }}
    </tt-button>
    <tt-button class="tt-profile-card__follow-links" icon="navigation-arrow" [routerLink]="['/profile', profile.id]">
    </tt-button>
  </div>
}
