<img [src]="preview()" alt="Avatar" class="avatar">

<div dnd
     class="dropzone"
     tabindex="0"
     (keyup.enter)="fileDrop.click()"
     (fileDropped)="onFileDropped($event)"
>

  <div class="dropzone__content">
    <svg class="dropzone__input-image" icon="upload"></svg>
    <span class="dropzone__text medium-text">Перетащите изображение или Загрузите</span>
  </div>
  <input type="file"
         class="dropzone__input"
         tabindex="-1"
         #fileDrop
         (change)="fileBrowserHandler($event)"
  >
</div>
