:host {
  background-color: var(--dark-transparent);
  border: var(--light-border);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
}

.tt-dropdown {
  &__btn {
    border: none;
    background-color: transparent;
    color: inherit;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    height: min-content;
    padding: 0;
  }

}
