@use "mixins" as mixin;

:host {
  @include mixin.dark-facade;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--primary-color);
  border-color: var(--dark-color);
  cursor: pointer;
  padding: 10px 20px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

:host([data-mode="black"]) {
  background-color: var(--dark-color);
  @include mixin.main-transition(border-color);

  &:hover {
    .tt-button__icon {
      color: inherit;
    }
  }

  .tt-button,
  .tt-button__icon {
    color: inherit;
    @include mixin.main-transition(color);
  }
}

.tt-button {
  display: flex;
  align-items: center;
  gap: 8px;

  &__icon {
    width: 16px;
    height: 16px;
  }
}
