:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.tt-profile-page {

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 24px;
  }

  &__dotted-line {
    border-top: 1px dashed #fff;
    width: 100%;
  }

  &__title {
    font-weight: 800;
  }

  &__skills,
  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  //Стили формы
  &__user-form {
    background-color: var(--dark-color);
    border: var(--light-border);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 48px);
    padding: 32px;
  }

  &__firstname-and-lastname {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
