@use "mixins" as mixin;

:host {
  display: flex;
  flex-direction: column;
}

.tt-profile-page {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
  }

  &__header-button {
    margin-right: 142px;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 64px;
  }

  &__subscribers-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 24px;
  }

  &__title {
    font-weight: 800;
  }

  &__subscribers-length-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__subscribers-length {
    background-color: var(--green-primary-color);
    color: var(--dark-color);
    line-height: 16px;
    padding: 1px 6px;
  }

  &__serach-link {
    @include mixin.main-transition(color);

    &:hover {
      color: var(--primary-color);
    }
  }

  &__subscribers-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__subscribers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__subscribers-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
