<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="h1">Вход</h1>
  <label class="tt-control-label">
    <p>Telegram username</p>
    <input class="tt-input" type="text"
           placeholder="Введите логин"
           formControlName="username">
  </label>

  <label class="tt-control-label">
    <p>Пароль</p>
    <input class="tt-input" type="password"
           placeholder="Введите пароль"
           formControlName="password">
  </label>

  <button class="btn btn-shadow" type="submit">Войти</button>
</form>

<img src="/assets/svg/tik-talk-logo.svg" alt="Logo">
