/* You can add global styles to this file, and also import other style files */
@import "fonts";

:root {
  --dark-color: #000;
  --light-color: #fff;
  --light-transparent: rgba(255, 255, 255, 0.75);
  --primary-color: #ae7aff;
  --gray-soft: #5f646d;
  --dark-active: #161616;
  --font-family: "JetBrains Mono";
}

*,
*:before,
*:after, {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea {
  border: transparent;
  background: transparent;
}

body {
  height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--dark-color);
  background-image: url('../public/assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-color);
}

.skill-tag {
  padding: 4px 8px;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  display: inline;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: var(--gray-soft);
    border-radius: 2px;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
}

.h4 {

  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  font-style: normal;
}

.h6 {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.tt-control-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: block;
  margin-bottom: 16px;

  p {
    margin-bottom: 8px;
  }

  .tt-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 2px;
    display: block;
    padding: 12px 20px;
    width: 100%;
    font-family: var(--font-family), sans-serif;

    &::placeholder {
      color: var(--light-transparent);
    }
  }

}

.medium-text {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.profile-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-form {
  background-color: var(--dark-active);
  color: var(--light-color);
  padding: 32px;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100dvh - (24px * 4));

  &__two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
  }

  &__label {

  }

  &__text {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--light-transparent);
    margin-bottom: 4px;
  }

  &__input {
    width: 100%;
    border-bottom: 1px solid var(--light-color);
    color: var(--light-color);
    padding: 12px 0;
    margin-bottom: 20px;
    transition: border-color 0.2s linear;


    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: var(--light-transparent);
    }

    &:focus-visible {
      outline: transparent;
      border-color: var(--primary-color);
    }
  }

  &__btn-list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

  }

  &__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--light-color);
    background-color: var(--dark-active);
    border: 1px solid var(--light-color);
    border-radius: 2px;
    padding: 10px 20px;
  }
}

.profile-form__textarea {
  max-height: 200px;
  resize: vertical;
}
