@use 'mixins' as mixin;

:host(.filled-active) {
  .tt-input__control:has(.tt-input__input:not(:placeholder-shown)) {
    border-color: var(--primary-color);

    .tt-input__mode-icon {
      color: var(--primary-color);
    }
  }
}

.tt-input {
  &__control {
    background-color: var(--dark-color);
    border-bottom: var(--light-border);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    /** Стиль, чтобы приминился цвет автокомплит браузера */
    &:has(input:-webkit-autofill) {
      background-color: #e8f0fe;
    }

    &:has(.tt-input__input) {
      @include mixin.main-transition(border-color);

      &:focus-within,
      &:hover {
        border-color: var(--primary-color);
      }
    }
  }

  &__label {
    @include mixin.label-text;
    color: var(--light-transparent);
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 16px;
  }

  &__input {
    @include mixin.input-text;
    color: var(--light-color);
    cursor: text;
    width: 100%;

    &::placeholder {
      color: var(--light-transparent);
    }
  }
}
