@use 'mixins' as mixin;

.tt-input {
  &__control {
    background-color: var(--dark-color);
    border-bottom: var(--light-border);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 0;

    /** Стиль, чтобы приминился цвет автокомплит браузера */
    &:has(input:-webkit-autofill) {
      background-color: #e8f0fe;
    }
  }

  &__label {
    @include mixin.label-text;
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 16px;
  }

  &__input {
    @include mixin.input-text;
    color: var(--light-color);
    cursor: text;
    width: 100%;

    &::placeholder {
      color: var(--light-transparent);
    }
  }
}
