:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  border-bottom: var(--light-border);
  height: 100%;
  padding: 24px 20px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--dark-hover-color);

    .tt-chat-btn {
      &__user,
      &__created-at {
        color: var(--primary-color);
      }
    }
  }
}

.tt-chat-btn {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__info-block,
  &__last-text-block {
    display: flex;
    justify-content: space-between;
  }

  &__last-text-block {
    gap: 8px;
  }

  &__user,
  &__created-at {
    color: var(--light-transparent);
    transition: color 0.2s ease;
  }

  &__last-message-text,
  &__no-message-text {
    font-weight: 500;
    line-height: 16px;
    text-align: start;
  }

  &__last-message-text {
    color: var(--light-color);
    overflow-wrap: anywhere;
  }

  &__no-message-text {
    color: var(--light-transparent);
    font-style: italic;
  }

  &__unread-messages-counter {
    background-color: var(--primary-color);
    height: min-content;
    line-height: 16px;
    padding: 1px 6px;
  }
}
