@use "mixins" as mixin;

:host {
  @include mixin.dark-facade;
  display: grid;
  grid-template-columns: 32px 1fr 40px 44px;
  gap: 8px;
  align-items: center;
  padding: 16px;

}

.tt-text-input {
  &__textarea {
    align-content: center;
    color: var(--light-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    resize: none;

    &::placeholder {
      color: var(--light-transparent);
    }
  }

  &__smile-btn {
    color: red;
    border: transparent;
  }
}
